<div
  class="bg-gradient-to-r py-10 from-teal-50 to-teal-200 h-full w-full flex flex-col items-center"
>
  <div
    class="bg-gradient-to-r from-teal-100 to-white rounded px-20 pt-10 pb-20 shadow-lg"
  >
    <div class="w-full mt-5 mb-5 flex flex-col">
      <div>
        <span class="text-4xl font-bold font2">Services</span>
      </div>
      <div>
        <span class="font2 text-red-500 font-semibold">Home / Services</span>
      </div>
    </div>
    <mat-divider class="mb-10"></mat-divider>

    <div class="flex justify-start w-full mt-10">
      <div class="grid grid-cols-3 w-full relative left-14">
        <mat-card class="col-span-1 mr-32 h-64 w-72">
          <mat-card-header
            class="flex items-center h-full w-full justify-center"
          >
            <mat-card-title class="text-red-400 !mb-3"
              >Medical Appointment<mat-divider class="w-full"></mat-divider
            ></mat-card-title>
            <mat-card-subtitle class="flex justify-center w-full"
              ><div class="w-full flex justify-center">
                <div>
                  <img
                    src="../../assets/appoinment.jpg"
                    class="h-24 mb-20 w-24 rounded-full"
                  />
                </div></div
            ></mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions
            class="absolute bottom-0 flex justify-center w-full my-6"
          >
            <div>
              <button
                routerLink="/medical-appointment"
                class="!rounded-full md:!px-11 w-full hover:shadow-xl !text-white hover:bg-teal-500 hover:transition hover:!text-white"
                mat-flat-button
                color="primary"
              >
                Book Appointment
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="col-span-1 h-64 mr-32 w-72">
          <mat-card-header
            class="flex items-center h-full w-full justify-center"
          >
            <mat-card-title class="text-red-400 !mb-3"
              >Medicines<mat-divider class="w-full"></mat-divider
            ></mat-card-title>
            <mat-card-subtitle class="flex justify-center w-full"
              ><div class="w-full flex justify-center">
                <div>
                  <img
                    src="../../assets/appoinment.jpg"
                    class="h-24 mb-20 w-24 rounded-full"
                  />
                </div></div
            ></mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions
            class="absolute bottom-0 flex justify-center w-full my-6"
          >
            <div>
              <button
                routerLink="medicines"
                class="!rounded-full hover:shadow-xl !text-white md:!px-11 w-full hover:bg-teal-500 hover:transition hover:!text-white"
                mat-flat-button
                color="primary"
              >
                Buy
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card class="col-span-1 h-64 w-72">
          <mat-card-header
            class="flex flex-col items-center h-full w-full justify-center"
          >
            <mat-card-title class="text-red-400 !mb-3 w-full"
              >Vaccination <mat-divider class="w-full"></mat-divider
            ></mat-card-title>

            <mat-card-subtitle class="flex justify-center w-full"
              ><div class="w-full flex justify-center">
                <div>
                  <img
                    src="../../assets/appoinment.jpg"
                    class="h-24 mb-20 w-24 rounded-full"
                  />
                </div></div
            ></mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions
            class="absolute bottom-0 flex justify-center w-full my-6"
          >
            <div>
              <button
                class="!rounded-full hover:shadow-xl md:!px-11 w-full !text-white hover:bg-teal-500 hover:transition hover:!text-white"
                mat-flat-button
                color="primary"
              >
                Book Slot
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
