<!-- <mat-toolbar class="">
  <img class="h-10" src="../../assets/logo.png" />

  <span class="text-teal-600 mx-4">Royal Clinic</span>
  <span class="example-spacer"></span>
  <div class="text-sm text-gray-600 flex items-center flex-row">
    <div class="mx-4">
      <span>Home</span>
    </div>
    <div class="mx-4">
      <span>About us</span>
    </div>
    <div class="mx-4">
      <button
        routerLink="/login"
        mat-flat-button
        class="!bg-teal-500 !text-white"
      >
        Login
      </button>
    </div>
  </div>
</mat-toolbar> -->

<div
  class="bg-gradient-to-r from-teal-50 to-teal-200 h-4/5 flex items-center justify-center w-full"
>
  <div class="w-1/2 font1 font-bold text-5xl text-teal-800 mx-8">
    WE CARE ABOUT YOUR HEALTH
    <div class="font2 text-sm text-gray-500 my-4 mx-2">
      This is a text. This is a text. This is a text. This is a text. This is a
      text.
    </div>
    <div>
      <button
        routerLink="/medical-appointment"
        class="!bg-teal-500 !text-white !rounded-full"
        mat-flat-button
      >
        <span class="font2">Book an Appointment</span>
      </button>
    </div>
  </div>
  <div class="w-1/2 flex justify-end">
    <img
      class="min-h-10 !w-3/4 mb-9 relative right-40"
      src="../../assets/doctor.png"
    />
  </div>
</div>
